# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# Machine Learning & Data
ml_model/checkpoints/
*.safetensors
*.bin
Resumedata/
*.sqlite3
*.db

# OS specific
.DS_Store
Thumbs.db

# Logs
*.log

# Pytest / Coverage
.pytest_cache/
.coverage
htmlcov/

# IDEs
.idea/
.vscode/
*.swp
